{% assign main_class = main_class | default: 'c-product' %}

<div 
    {% if rating > 0 %}
        data-is-hidden='false'
    {% else %}
        data-is-hidden='true'
    {% endif %}
    class="{{ main_class }}__rating o-rating"
>
    {% for num in (1..5) %}
        <div class="o-rating__item">
            <img 
                class="o-rating__star o-rating__star--active" 
                src="{{ 'icon.star.svg' | asset_url }}" 
                width="16" height="16"
                {% if num <= rating %}
                    data-is-hidden='false'
                {% else %}
                    data-is-hidden='true'
                {% endif %}
            />
    
            <img 
                class="o-rating__star o-rating__star--inactive" 
                src="{{ 'icon.star-inactive.svg' | asset_url }}" 
                width="16" 
                height="16"
                {% if num <= rating %}
                    data-is-hidden='true'
                {% else %}
                    data-is-hidden='false'
                {% endif %}
            />
        </div>
    {% endfor %}
</div>