<ul class="o-list c-collections">
    {% for block in section.blocks %}
        <li class="o-list__item c-collections__item c-products c-products--hor-scroll u-scroll-hor js-drag-slider">
            {% render 'products-list' with products: block.settings.collection.products %}
        </li>
    {% endfor %}
</ul>

{% schema %}
{
    "name": "Featured collections",
    "tag": "section",
    "class": "o-section c-featured-collections",
    "blocks": [
        {
            "name": "Collection",
            "type": "collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured collections"
        }
    ]
}
{% endschema %}