<div class="c-collections">
    <ul class="o-list c-collections__list c-collections__list--hor-scroll u-scroll-hor js-drag-slider">
        {% for block in section.blocks %}
            {% render 'collections-list-item' with collectionItem: block.settings.collection %}
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Featured collections",
    "tag": "section",
    "class": "o-section c-featured-collections",
    "blocks": [
        {
            "name": "Collection",
            "type": "collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured collections"
        }
    ]
}
{% endschema %}