<div class="c-products c-products--recommended" data-is-hidden="true">
    <h2 class="c-products__title o-title-1">{{ 'snippets.product.recommended_title' | t }}</h2>
    <ul class="o-list c-products__list c-products__list--recommended"></ul>
    <template class="c-products__item-template">
        {% render 'products-list-item' %}
    </template>
</div>

{% schema %}
{
    "name": "Product recommendations",
    "tag": "section",
    "class": "o-section c-product-recommendations"
}
{% endschema %}