<div class="c-products c-products--recommended">
    <h2 class="c-products__title">{{ 'snippets.product.recommended_title' | t }}</h2>
    <ul class="o-list c-products__list">
        {% for product in recommendations.products %}
            {% render 'products-list-item' with product_item: product %}
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Product recommendations",
    "tag": "section",
    "class": "o-section c-product-recommendations"
}
{% endschema %}