.c-header {
  display: grid;
  grid-auto-flow: row;
}

.c-header__announcement {
  text-align: center;
  background-color: var(--color-bg-1);
  padding-left: var(--side-distance-1);
  padding-right: var(--side-distance-1);
  height: var(--announcement-height);
}

.s-announcement-richtext p,
.s-announcement-richtext a {
  font-size: 0.77rem;
}

.c-header__desktop {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  padding: 1.5rem var(--side-distance-1);
}

.c-header__logo-box {
  display: inline-block;
}

.c-header__logo,
.c-header__logo--alt {
  height: 1.33rem;
}

.c-header__logo--alt,
.c-header__icon--alt {
  display: none;
}

.c-header__desktop-list {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.c-header__center-list {
  gap: 2rem;
}

.c-header__right-list {
  justify-content: end;
}

.c-header__icon,
.c-header__icon--alt {
  height: 1rem;
  width: 1rem;
  object-fit: contain;
}

.c-header__icon--search {
  transform: translateY(0.1em);
}
