.c-account,
.c-account__order,
.c-account__address-book[data-is-compact="false"] {
  padding: var(--side-distance-1) var(--side-distance-3);
}

.c-account {
  display: grid;
  grid-auto-flow: row;
  gap: var(--side-distance-1);
}

.c-account__block {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
}

.c-account__title-2 {
  font-weight: normal;
}

.c-orders-table {
  background-color: var(--color-bg-1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-orders-table,
.c-orders-table__head,
.c-orders-table__body {
  display: block;
}

.c-orders-table__row {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1.5rem;
  position: relative;
}

.c-orders-table__item-select {
  display: block;
  width: 100%;
  height: 100%;
}

[data-col-name="select"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-orders-table__col {
  flex: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.c-orders-table__body .c-orders-table__row:nth-child(1),
.c-orders-table__head .c-orders-table__row {
  padding-top: 0.5rem;
}

.c-orders-table__head .c-orders-table__row {
  padding-bottom: 0.5rem;
}

.c-orders-table__head .c-orders-table__col {
  text-align: left;
  color: var(--color-text-2);
  font-weight: normal;
}

.c-orders-table__body .c-orders-table__row:not(:last-child) {
  border-bottom: 0.1em solid var(--color-bg-2);
}

.c-account__status {
  color: var(--color-text-2);
}

[data-col-name="status"] {
  text-transform: capitalize;
}

.c-account__address-list,
.c-account__order-addresses {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.c-address-item__status {
  display: inline-block;
  padding: 0.25em 1em;
  border-radius: 10em;
  background-color: var(--color-bg-2);
  text-transform: capitalize;
  font-size: 0.84em;
  margin-top: 0.5rem;
}

.c-address-item {
  background-color: var(--color-bg-1);
  padding: 1rem 1.5rem;
}

.c-orders-table__body .c-orders-table__row:hover,
.c-orders-table__body .c-orders-table__row:focus-within {
  background-color: var(--color-bg-2);
}

.c-address-item__actions {
  margin-top: 1em;
}

.c-address-item:not(:hover):not(:focus-within) .c-address-item__actions {
  opacity: 0;
}

.c-account__order {
  display: grid;
  grid-auto-flow: row;
  gap: var(--side-distance-1);
}

.c-account__order-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.c-account__order-meta {
  color: var(--color-text-2);
  text-transform: capitalize;
}

.c-order-cart,
.c-order-cart__head,
.c-order-cart__body {
  display: block;
}

.c-order-cart__row {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
  align-content: center;
}

.c-order-cart__col {
  flex: 1;
}

.c-order-cart__head .c-order-cart__col {
  text-align: left;
  font-weight: normal;
  color: var(--color-text-2);
}

.c-order-cart__col--image {
  min-width: 8rem;
  max-width: 8rem;
}

.c-order-cart__image-box {
  width: 8rem;
  height: 0;
  padding-top: 125%;
  position: relative;
}

.c-order-cart__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-order-cart__body .c-order-cart__row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-order-cart__body .c-order-cart__row:not(:last-child) {
  border-bottom: 0.2em solid var(--color-bg-2);
}

.c-order-cart__body .c-order-cart__col--product {
  font-weight: bold;
}

.c-account__order-content {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.c-account__order-summary {
  width: 20rem;
  justify-self: end;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
}

.c-order-cart__summary-item {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.c-order-cart__summary-item[data-type="conclusion"] {
  font-size: 1.25em;
  text-transform: uppercase;
}
