.s-richtext h1,
.s-richtext h2,
.s-richtext h3,
.s-richtext h4,
.s-richtext h5,
.s-richtext h6,
.s-richtext p,
.s-richtext blockquote,
.s-richtext pre,
.s-richtext a,
.s-richtext li,
.s-richtext dd,
.s-richtext dt,
.s-richtext td,
.s-richtext th,
.s-richtext button {
  margin: revert;
  padding: revert;
}

.s-richtext h1,
.s-richtext h2,
.s-richtext h3 {
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.s-richtext h1 {
  font-size: 2em;
}

.s-richtext table {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

.s-richtext table,
.s-richtext th,
.s-richtext td {
  border: 0.1em solid var(--color-text-focus);
}
